nav li{
    list-style: none;
}
a:link, a:visited{
    text-decoration: none;
    background-color: green;
    border: 1px solid blue;
    color: black;
    display: block;
    width: 200px;
    text-align: center;
    margin-bottom: 1px;
}
a:hover, a:active{
    background-color: red;
    color: purple;
}
nav li:nth-child(3){
    font-size: 24px;
}
nav li:nth-child(4):hover{
    background-color: greenyellow;
    cursor: crosshair;
}
h1, p{
    color: blue;
}
.highlight{
    background: greenyellow;
    opacity: 0.6;
    font-size: 25px;
    font-style: italic;
    color: darkred;
}
#mainPoint{
    font-size: 20px;
    font-style: oblique;
    color:brown;
}
article > p{
    color:black;
    size:18px;
}
article .testParagraph{
    background-color: bisque;
    color:darkslateblue;
    font-size: 25px;
}

@media (min-width: 1200px) {
    p{
        color:purple;
    }
    h1{
        color: red;
        font-size: 35px;
    }

}
@media (max-width: 720px) {
    p{
        color: orange;
    }
    h1{
        color:darkgreen;
        font-size: 25px;
    }
}